In [83]:
import pandas as pd
df = pd.read_csv('outputWithoutNan.csv')
df.head()

,توکن,کارکرد,مدل (سال تولید),رنگ,نوع سوخت,وضعیت موتور,وضعیت شاسی‌ها,وضعیت بدنه,مهلت بیمهٔ شخص ثالث,گیربکس,قیمت فروش نقدی
0,AZdO0Ehe,۲۴۰٬۰۰۰,۱۳۸۷,نقره‌ای,بنزینی,سالم,سالم و پلمپ,خط و خش جزیی,۶ ماه,دنده‌ای,۲۴۰٬۰۰۰٬۰۰۰ تومان
1,AZdKkX0Z,۱۰۵٬۰۰۰,۱۳۹۰,سفید,بنزینی,سالم,سالم و پلمپ,رنگ‌شدگی,۱۰ ماه,دنده‌ای,۳۰۳٬۰۰۰٬۰۰۰ تومان
2,AZdG0oTg,۶٬۸۰۰,۱۴۰۰,نوک‌مدادی,بنزینی,سالم,NaN,سالم و بی‌خط و خش,۶ ماه,دنده‌ای,۴۸۰٬۰۰۰٬۰۰۰ تومان
3,AZ0lEKbL,۳۸٬۸۰۰,۱۳۹۹,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,۳ ماه,دنده‌ای,۴۳۲٬۰۰۰٬۰۰۰ تومان
4,AZROGMH3,۲۴٬۰۰۰,۱۴۰۱,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,۵ ماه,دنده‌ای,۴۶۹٬۰۰۰٬۰۰۰ تومان

In [84]:
df_filled = df.fillna(df.mode().iloc[0])

In [85]:
df_filled.head()

,توکن,کارکرد,مدل (سال تولید),رنگ,نوع سوخت,وضعیت موتور,وضعیت شاسی‌ها,وضعیت بدنه,مهلت بیمهٔ شخص ثالث,گیربکس,قیمت فروش نقدی
0,AZdO0Ehe,۲۴۰٬۰۰۰,۱۳۸۷,نقره‌ای,بنزینی,سالم,سالم و پلمپ,خط و خش جزیی,۶ ماه,دنده‌ای,۲۴۰٬۰۰۰٬۰۰۰ تومان
1,AZdKkX0Z,۱۰۵٬۰۰۰,۱۳۹۰,سفید,بنزینی,سالم,سالم و پلمپ,رنگ‌شدگی,۱۰ ماه,دنده‌ای,۳۰۳٬۰۰۰٬۰۰۰ تومان
2,AZdG0oTg,۶٬۸۰۰,۱۴۰۰,نوک‌مدادی,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,۶ ماه,دنده‌ای,۴۸۰٬۰۰۰٬۰۰۰ تومان
3,AZ0lEKbL,۳۸٬۸۰۰,۱۳۹۹,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,۳ ماه,دنده‌ای,۴۳۲٬۰۰۰٬۰۰۰ تومان
4,AZROGMH3,۲۴٬۰۰۰,۱۴۰۱,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,۵ ماه,دنده‌ای,۴۶۹٬۰۰۰٬۰۰۰ تومان

In [86]:
df_filled.describe()

,توکن,کارکرد,مدل (سال تولید),رنگ,نوع سوخت,وضعیت موتور,وضعیت شاسی‌ها,وضعیت بدنه,مهلت بیمهٔ شخص ثالث,گیربکس,قیمت فروش نقدی
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,1000,332,22,22,1,3,3,9,12,2,228
top,AZZ2XZ2y,۰,۱۳۹۹,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,۶ ماه,دنده‌ای,۳۶۰٬۰۰۰٬۰۰۰ تومان
freq,1,49,84,545,1000,984,994,404,230,999,21

In [87]:
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   توکن                 1000 non-null   object
 1   کارکرد               1000 non-null   object
 2   مدل (سال تولید)      1000 non-null   object
 3   رنگ                  1000 non-null   object
 4   نوع سوخت             1000 non-null   object
 5   وضعیت موتور          1000 non-null   object
 6   وضعیت شاسی‌ها        1000 non-null   object
 7   وضعیت بدنه           1000 non-null   object
 8   مهلت بیمهٔ شخص ثالث  1000 non-null   object
 9   گیربکس               1000 non-null   object
 10  قیمت فروش نقدی       1000 non-null   object
dtypes: object(11)
memory usage: 86.1+ KB

In [88]:
farsi_to_english = {
    '۰': '0',
    '۱': '1',
    '۲': '2',
    '۳': '3',
    '۴': '4',
    '۵': '5',
    '۶': '6',
    '۷': '7',
    '۸': '8',
    '۹': '9'
}

for item in df.columns.tolist():
    df_filled[item] = df_filled[item].replace(farsi_to_english, regex=True)

In [89]:
df_filled.head()

,توکن,کارکرد,مدل (سال تولید),رنگ,نوع سوخت,وضعیت موتور,وضعیت شاسی‌ها,وضعیت بدنه,مهلت بیمهٔ شخص ثالث,گیربکس,قیمت فروش نقدی
0,AZdO0Ehe,240٬000,1387,نقره‌ای,بنزینی,سالم,سالم و پلمپ,خط و خش جزیی,6 ماه,دنده‌ای,240٬000٬000 تومان
1,AZdKkX0Z,105٬000,1390,سفید,بنزینی,سالم,سالم و پلمپ,رنگ‌شدگی,10 ماه,دنده‌ای,303٬000٬000 تومان
2,AZdG0oTg,6٬800,1400,نوک‌مدادی,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,6 ماه,دنده‌ای,480٬000٬000 تومان
3,AZ0lEKbL,38٬800,1399,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,3 ماه,دنده‌ای,432٬000٬000 تومان
4,AZROGMH3,24٬000,1401,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,5 ماه,دنده‌ای,469٬000٬000 تومان

In [90]:
cols = df_filled.columns.tolist()
cols

['توکن',
 'کارکرد',
 'مدل (سال تولید)',
 'رنگ',
 'نوع سوخت',
 'وضعیت موتور',
 'وضعیت شاسی\u200cها',
 'وضعیت بدنه',
 'مهلت بیمهٔ شخص ثالث',
 'گیربکس',
 'قیمت فروش نقدی']

In [91]:
df_filled[cols[-1]] = df_filled[cols[-1]].str.replace(' تومان', '')
df_filled[cols[-3]] = df_filled[cols[-3]].str.replace(' ماه', '')

In [92]:
df_filled.head()

,توکن,کارکرد,مدل (سال تولید),رنگ,نوع سوخت,وضعیت موتور,وضعیت شاسی‌ها,وضعیت بدنه,مهلت بیمهٔ شخص ثالث,گیربکس,قیمت فروش نقدی
0,AZdO0Ehe,240٬000,1387,نقره‌ای,بنزینی,سالم,سالم و پلمپ,خط و خش جزیی,6,دنده‌ای,240٬000٬000
1,AZdKkX0Z,105٬000,1390,سفید,بنزینی,سالم,سالم و پلمپ,رنگ‌شدگی,10,دنده‌ای,303٬000٬000
2,AZdG0oTg,6٬800,1400,نوک‌مدادی,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,6,دنده‌ای,480٬000٬000
3,AZ0lEKbL,38٬800,1399,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,3,دنده‌ای,432٬000٬000
4,AZROGMH3,24٬000,1401,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,5,دنده‌ای,469٬000٬000

In [93]:
for i in [1, 2, -1, -3]:
    df_filled[cols[i]] = df_filled[cols[i]].str.replace('٬', '')
    df_filled[cols[i]] = df_filled[cols[i]].str.replace('توافقی', '0').astype(int)

In [94]:
df_filled.head()

,توکن,کارکرد,مدل (سال تولید),رنگ,نوع سوخت,وضعیت موتور,وضعیت شاسی‌ها,وضعیت بدنه,مهلت بیمهٔ شخص ثالث,گیربکس,قیمت فروش نقدی
0,AZdO0Ehe,240000,1387,نقره‌ای,بنزینی,سالم,سالم و پلمپ,خط و خش جزیی,6,دنده‌ای,240000000
1,AZdKkX0Z,105000,1390,سفید,بنزینی,سالم,سالم و پلمپ,رنگ‌شدگی,10,دنده‌ای,303000000
2,AZdG0oTg,6800,1400,نوک‌مدادی,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,6,دنده‌ای,480000000
3,AZ0lEKbL,38800,1399,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,3,دنده‌ای,432000000
4,AZROGMH3,24000,1401,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,5,دنده‌ای,469000000

In [95]:
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   توکن                 1000 non-null   object
 1   کارکرد               1000 non-null   int32
 2   مدل (سال تولید)      1000 non-null   int32
 3   رنگ                  1000 non-null   object
 4   نوع سوخت             1000 non-null   object
 5   وضعیت موتور          1000 non-null   object
 6   وضعیت شاسی‌ها        1000 non-null   object
 7   وضعیت بدنه           1000 non-null   object
 8   مهلت بیمهٔ شخص ثالث  1000 non-null   int32
 9   گیربکس               1000 non-null   object
 10  قیمت فروش نقدی       1000 non-null   int32
dtypes: int32(4), object(7)
memory usage: 70.4+ KB

In [96]:
for column in df_filled.columns:
    new_title = input(f"لطفاً عنوان جدید برای ستون '{column}' را وارد کنید: ")
    df_filled.rename(columns={column: new_title}, inplace=True)

In [97]:
df_filled.head()

,Token,Usage,Year,Color,Fuel,Engine,Chassis,Body,Insurance,Gearbox,Price
0,AZdO0Ehe,240000,1387,نقره‌ای,بنزینی,سالم,سالم و پلمپ,خط و خش جزیی,6,دنده‌ای,240000000
1,AZdKkX0Z,105000,1390,سفید,بنزینی,سالم,سالم و پلمپ,رنگ‌شدگی,10,دنده‌ای,303000000
2,AZdG0oTg,6800,1400,نوک‌مدادی,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,6,دنده‌ای,480000000
3,AZ0lEKbL,38800,1399,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,3,دنده‌ای,432000000
4,AZROGMH3,24000,1401,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,5,دنده‌ای,469000000

In [98]:
df_org = df_filled.copy()

In [133]:
df_filled = df_org.copy()

In [134]:
import numpy as np
mean_values = df_filled.mean()
df_filled = df_filled.replace(0, np.nan).fillna(mean_values)

In [135]:
df_filled.describe()

               Usage         Year    Insurance         Price
count    1000.000000  1000.000000  1000.000000  1.000000e+03
mean   162058.408177  1392.236000     7.006000  3.143160e+08
std    111850.159524     6.641416     3.056027  1.167174e+08
min         1.000000  1380.000000     1.000000  1.010101e+07
25%     64000.000000  1386.000000     5.000000  2.300000e+08
50%    154488.473000  1394.000000     6.000000  3.100000e+08
75%    240000.000000  1398.000000     9.000000  4.050000e+08
max    500000.000000  1402.000000    12.000000  1.111111e+09

In [136]:
# Toman to Milion Toman
df_filled.Price = df_filled.Price / (10**6)

In [137]:
df_filled.head()

,Token,Usage,Year,Color,Fuel,Engine,Chassis,Body,Insurance,Gearbox,Price
0,AZdO0Ehe,240000.0,1387,نقره‌ای,بنزینی,سالم,سالم و پلمپ,خط و خش جزیی,6,دنده‌ای,240.0
1,AZdKkX0Z,105000.0,1390,سفید,بنزینی,سالم,سالم و پلمپ,رنگ‌شدگی,10,دنده‌ای,303.0
2,AZdG0oTg,6800.0,1400,نوک‌مدادی,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,6,دنده‌ای,480.0
3,AZ0lEKbL,38800.0,1399,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,3,دنده‌ای,432.0
4,AZROGMH3,24000.0,1401,سفید,بنزینی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,5,دنده‌ای,469.0

In [138]:
null_counts = df_filled.isnull().sum()
print(null_counts)

Token        0
Usage        0
Year         0
Color        0
Fuel         0
Engine       0
Chassis      0
Body         0
Insurance    0
Gearbox      0
Price        0
dtype: int64

In [139]:
for column in df_filled.columns:
    nunique_counts = df_filled[column].nunique()
    print("{} : {}".format(column, nunique_counts))

Token : 1000
Usage : 332
Year : 22
Color : 22
Fuel : 1
Engine : 3
Chassis : 3
Body : 9
Insurance : 12
Gearbox : 2
Price : 228

In [140]:
# Deleted columns : Token, Fuel
df_filled.drop(['Token', 'Fuel'], axis=1, inplace=True)
df_filled.head()

,Usage,Year,Color,Engine,Chassis,Body,Insurance,Gearbox,Price
0,240000.0,1387,نقره‌ای,سالم,سالم و پلمپ,خط و خش جزیی,6,دنده‌ای,240.0
1,105000.0,1390,سفید,سالم,سالم و پلمپ,رنگ‌شدگی,10,دنده‌ای,303.0
2,6800.0,1400,نوک‌مدادی,سالم,سالم و پلمپ,سالم و بی‌خط و خش,6,دنده‌ای,480.0
3,38800.0,1399,سفید,سالم,سالم و پلمپ,سالم و بی‌خط و خش,3,دنده‌ای,432.0
4,24000.0,1401,سفید,سالم,سالم و پلمپ,سالم و بی‌خط و خش,5,دنده‌ای,469.0

In [141]:
cols = df_filled.columns.to_list()
cols

['Usage',
 'Year',
 'Color',
 'Engine',
 'Chassis',
 'Body',
 'Insurance',
 'Gearbox',
 'Price']

In [158]:
with open('cols.pickle', 'wb') as file:
    pickle.dump(cols, file)

In [142]:
from sklearn.preprocessing import LabelEncoder
Encoder = LabelEncoder()
Labels = {}
for i in [2, 3, 4, 5, 7]:
    label = {}
    df_filled[cols[i]] = Encoder.fit_transform(df_filled[cols[i]])
    label_names = Encoder.classes_
    for j in range(len(label_names)):
        label[label_names[j]] = j
    Labels[cols[i]] = label

In [143]:
print(Labels)

{'Color': {'آبی': 0, 'آلبالویی': 1, 'بادمجانی': 2, 'بژ': 3, 'تیتانیوم': 4, 'خاکستری': 5, 'دلفینی': 6, 'ذغالی': 7, 'زیتونی': 8, 'سبز': 9, 'سفید': 10, 'سفید صدفی': 11, 'طوسی': 12, 'قرمز': 13, 'قهوه\u200cای': 14, 'مشکی': 15, 'نقرآبی': 16, 'نقره\u200cای': 17, 'نوک\u200cمدادی': 18, 'پوست\u200cپیازی': 19, 'گیلاسی': 20, 'یشمی': 21}, 'Engine': {'تعویض شده': 0, 'سالم': 1, 'نیاز به تعمیر': 2}, 'Chassis': {'رنگ\u200cشده': 0, 'سالم و پلمپ': 1, 'ضربه\u200cخورده': 2}, 'Body': {'تصادفی': 0, 'تمام\u200cرنگ': 1, 'خط و خش جزیی': 2, 'دوررنگ': 3, 'رنگ\u200cشدگی': 4, 'رنگ\u200cشدگی، در 1 ناحیه': 5, 'رنگ\u200cشدگی، در 2 ناحیه': 6, 'سالم و بی\u200cخط و خش': 7, 'صافکاری بی\u200cرنگ': 8}, 'Gearbox': {'اتوماتیک': 0, 'دنده\u200cای': 1}}

In [148]:
import pickle

with open('Labels.pickle', 'wb') as file:
    pickle.dump(Labels, file)

In [144]:
df_filled.head(10)

      Usage  Year  Color  Engine  Chassis  Body  Insurance  Gearbox  Price
0  240000.0  1387     17       1        1     2          6        1  240.0
1  105000.0  1390     10       1        1     4         10        1  303.0
2    6800.0  1400     18       1        1     7          6        1  480.0
3   38800.0  1399     10       1        1     7          3        1  432.0
4   24000.0  1401     10       1        1     7          5        1  469.0
5   16000.0  1400      5       1        1     7         10        1  455.0
6  228000.0  1387     10       1        1     7          8        1  260.0
7  117000.0  1396     10       1        1     2          3        1  365.0
8  252000.0  1389     17       1        1     4          6        1  265.0
9  107000.0  1385      3       1        1     7          9        1  285.0

In [149]:
X = df_filled.drop(['Price'], axis=1)
y = df_filled['Price']

In [150]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [151]:
from sklearn.preprocessing import StandardScaler
Scaler = StandardScaler()
X_train = Scaler.fit_transform(X_train)
X_test = Scaler.transform(X_test)

In [152]:
scaler_means = Scaler.mean_
Scaler_stds  = Scaler.scale_

In [153]:
with open('Scaler_stds.pickle', 'wb') as file:
    pickle.dump(Scaler_stds, file)

with open('scaler_means.pickle', 'wb') as file:
    pickle.dump(scaler_means, file)

In [154]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [155]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print("R-squared:", r2)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)

R-squared: 0.6205064152622783
Mean Squared Error: 4759.280698979096
Mean Absolute Error: 38.36179018644281

In [157]:
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)